.header {
  height: 56px;
  background-color: #fff;
  
  border-bottom: 1px solid #e5e5e5;
  
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 100;
}




.left-section {
  display: flex;
  align-items: center;
}
.hamburger-menu-logo {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}
.youtube-logo {
  width: 90px;
  margin-left: 24px;
}




.middle-section {
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;

  max-width: 470px;
  
  margin-left: 60px;
  margin-right: 29px;
}

.search-bar{
  flex: 1;
  box-sizing: border-box;
  height: 40px;
  width: 0px;
  
  padding-left: 12px;
  font-size: 16px;
  
  border: 1px solid #b8b8b8c0;
  border-radius: 2px 0 0 2px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.09);
}
.search-bar::placeholder{
  color: #7a7a7ad8;
  font-size: 16px;
}

.search-button{
  width: 64px;
  height: 40px;
  box-sizing: border-box;
  background-color: #f6f6f6f6;
  
  border: 1px solid #b8b8b8c0;
  border-radius: 0 2px 2px 0;
  
  margin-right: 8px;
  margin-left: -1px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.right-section div .tooltip {
  position: absolute;
  bottom: -30px;

  background-color: rgb(130, 129, 129);
  color: white;
  
  padding: 4px 8px;
  font-size: 12px;

  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;

}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.right-section div:hover .tooltip{
  opacity: 1;
}
.search-icon{
  height: 24px;
}

.voice-search-button{
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  background-color: rgba(245, 245, 245, 0.694);

  border:none;
  border-radius:20px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.voice-search-icon{
  height: 24px;
}




.right-section {
  width: 206px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}
.upload-icon{
  width: 24px;
  height: 24px;
}
.youtube-apps-icon{
  width: 24px;
  height: 24px;
}

.notification-icon{
  width: 24px;
  height: 24px;
}
.notification-count{
  position: absolute;
  top:-2px;
  right:-7px;

  padding:1.5px 5px;

  background-color: rgb(201, 0, 0);
  color: white;
  font-size: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  
  border:2px solid white;
  border-radius: 10px;
}

.right-section .current-user{
  width: 33px;
  height: 33px;
  margin-right: 24px;

  border-radius: 20px;
}

.right-section .container {
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
}