.sidebar{
  position: fixed;
  top: 56px;
  width: 72px;
  left: 0;
  bottom: 0;
  background-color: #fff;

  z-index: 200;
}

.sidebar div{
  height: 76px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebar div:hover{
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

.sidebar img{
  width: 24px;
}

.side-bar-icon-text{
  font-size: 10px;
  margin-top: 6px;
}


/* @media (min-width: 1200px) {
  .sidebar{
    width: 140px;
  }
  .sidebar div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 24px;
    gap: 5px;
  }
  body{
    padding-left: 164px;
  }
} */
