.videos-grid {
    display: grid;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 730px) {
    .videos-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 731px) and (max-width: 999px) {
    .videos-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1000px) {
    .videos-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.video-thumbnail{
    position: relative;
}
.video-thumbnail .thumbnail {
    width: 100%;
}
.video-duration{
    position: absolute;
    bottom: 12px;
    right: 5px;

    padding: 4px 8px;
    border-radius: 3px;

    color: rgb(237, 237, 237);
    background-color: rgb(29, 29, 29);
    
    font-size: 12px;
    font-weight: 500;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 36px 1fr;
    column-gap: 12px;

    margin-top: 8px;
}

.profile-pic {
    width: 100%;
    border-radius: 50%;
}

.video-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    margin-bottom: 10px;
}

/* @media (min-width: 1000px) {
    .video-title {
        font-size: 16px;
        line-height: 24px;
    }
} */

.video-stats , .video-author {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

/* @media (min-width: 1000px) {
    .video-stats , .video-author {
        font-size: 14px;
    }
} */

.video-author {
    margin-bottom: 4px;
}